* {
    font-family: Tahoma, sans-serif;
}

:root {
    --bright: rgb(244 244 244);
    --mid: rgb(230 230 230);
    --dark: rgb(21 21 21);
    --color1: red;
    --color2: green;
    --color3: blue;
    --color4: purple;
}

p {
    margin: 0.2rem 0;
}


h1,
h2,
h3,
h4 {
    margin: 0.5rem 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--mid);
}

main {
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

#sidebar {
    max-width: 300px;
}

#article-preview {
    /* display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 900px; */
    display: grid;
    max-width: 900px;
    grid-template-columns: auto;
    gap: 1rem;
    /* grid-template-columns: repeat(auto-fit, minmax(0, min(100%/3, max(500px, 100%/5)))); */
}


.preview-item:hover {
    background-color: var(--bright);
}

.nav-row {
    background-color: var(--dark);
    position: sticky;
    top: 0;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    background-color: var(--dark);
    color: var(--bright);
    justify-content: space-between;
}

#nav-items {
    display: none;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    background-color: var(--dark);
    color: var(--bright);
}

.nav-link {
    color: var(--bright);
    /* text-decoration: underline; */
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
}

#burger {}

#burger:hover {
    cursor: pointer;
}


@media (min-width: 700px) {
    #article-preview {
        grid-template-columns: auto auto;
    }


}

@media (min-width: 1000px) {
    #article-preview {
        grid-template-columns: auto auto auto;
    }

    #nav-items {
        display: flex;
    }

    #burger {
        display: none;
    }
}